{# Explanation PCI/DSS 1 #}
<p class="text-center">
    {{ 'label.payment_system'|trans({}, 'payment') }}
</p>
{# Stripe Logo #}
<p class="text-center">
    <a href="https://stripe.com" target="_blank"><img src="{{ asset('bundles/c975lpayment/images/powered_by_stripe.png') }}" alt="Powered by Stripe" "title="Powered by Stripe" width="149" height="41" /></a>
</p>
{# Cards logos #}
<p class="text-center">
    <img src="{{ asset('bundles/c975lpayment/images/cb_visa_mastercard_logo.png') }}" alt="Payment cards" title="Paument cards" width="152" height="32"/>
</p>