{# You should override this template in `app/Resources/c975LPaymentBundle/views/fragments/merchantData.html.twig` and indicate there all your official data, such as address, VAT number, etc.  #}
<div>
    <p>
        <strong>
            You need to overide this template with your own data
        </strong>
    </p>
    <p class="small">
        Merchant's name
    </p>
    <p class="small">
        Merchant's address
    </p>
    <p class="small">
        VAT number and other needed data
    </p>
</div>