<div class="text-center">
{# Explanation PCI/DSS 1 #}
    <p>
        {{ 'label.payment_system'|trans({}, 'payment') }}
    </p>
{# Stripe Logo #}
    <p>
        <a href="https://stripe.com" target="_blank"><img src="{{ asset('bundles/c975lpayment/images/powered_by_stripe.png') }}" alt="Powered by Stripe" width="149" height="41" /></a>
    </p>
{# Cards logos #}
    <p>
        <img src="{{ asset('bundles/c975lpayment/images/cb_visa_mastercard_logo.png') }}" alt="Payment cards" width="152" height="32"/>
    </p>
</div>