{% extends "@c975LEmail/emails/layout.html.twig" %}

{% block payment_content %}
    <p>
        There was an error with Stripe, the code is <strong>{{ errCode }}</strong> and the message is <strong>{{ errMessage }}</strong>
    </p>
{% endblock %}